.material-name {
     display: flex;
     flex-direction: column;
}

.expenses {
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 2.5rem;
}

@media(min-width: 768px) {
     .expenses {
          display: grid;
          margin-top: 1.25rem;
     }
}

.invoice-icon {
     font-size: 1.25rem;
     line-height: 1.75rem;
     font-weight: 700;
}

.delete-icon {
     color: #EF4444;
}

.edit-icon {
     color: #10B981;
}

.total-amount-to-pay {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     color: #1F2937;
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
}

.invoice-data-form{
     border-style: inset;
     border-width: 0.5px;
}

.material-name, .expenses{
     margin: 1rem;
}

.add-invoice-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3B82F6;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 0.4rem;
}