.material-name {
     display: flex;
     flex-direction: column;
}

.expenses {
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 2.5rem;
}

@media(min-width: 768px) {
     .expenses {
          display: grid;
          margin-top: 1.25rem;
     }
}

.invoice-btn {
     font-size: 1.25rem;
     line-height: 1.75rem;
     font-weight: 700;
}

.delete-btn {
     color: #EF4444;
}

.edit-btn {
     color: #10B981;
}

.total-amount-to-pay {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     color: #1F2937;
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
}