.client-note {
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .client-msg {
    width: 50%;
    text-align: justify; 
  }
}