.section-table {
  margin-top: 1.25rem;
  margin-top: 2.5rem; 
}

.invoice-table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.invoice-table-title {
  background-color: #F3F4F6;
  padding: 0.25rem; 
}

.table-title-item{
  font-weight: 600;;
}