.main-container {
  padding: 1.25rem;
  margin: 1.25rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@media(min-width: 768px) {
  .main-container {
    max-width: 36rem;
  }
}

@media(min-width: 1024px) {
  .main-container {
    max-width: 42rem;
  }
}

@media(min-width: 1280px) {
  .main-container {
    max-width: 56rem;
  }
}

.alternative-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.check-invoice-btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #3B82F6;
  transition-property: all;
  transition-duration: 300ms;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: #3B82F6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.check-invoice-btn:hover {
  background: transparent;
  color:#3B82F6;
}